@use "../Base/variables" as *;
@use "../Base/mixins" as *;

.intro__button {
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: $color-red;
  color: $color-white;
  font-family: $font-text;
  animation: pulse 1s infinite;
  
  @include tablet {
    font-size: 3rem;

  }
}

@keyframes pulse {
  0% {background-color: $color-orange;}
  100% {background-color: $color-red}
}




.game__reset {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: $color-red;
  color: $color-white;
  font-family: $font-text;

  @include tablet {
    font-size: 3rem;
    margin-bottom: 10px;
  }


}

.game__quit {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: $color-orange;
  color: $color-white;
  font-family: $font-text;

  @include tablet {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  
}

.game__buttons {
  display: flex;

}