@use "../Base/variables" as *;
@use "../Base/mixins" as *;

.intro {
  
  
  &__heading {
    font-family: $font-alt;
    color: $color-teal;
    font-size: 4rem;
    transform: rotate(-30deg);
    text-align: center;
    line-height: 1;
    padding: 20px;
    margin: 20px auto;

    @include tablet {
      font-size: 6rem;
    }
    
  }
  
  
  &__desc {
    font-family: $font-text;
    color: $color-orange;
    text-align: center;
    line-height: 1.5;
    max-width: 80%;
    font-size: 0.9rem;

    span {
      color: $color-red;
    }

    @include tablet {
      font-size: 1.3rem;
    }
  }
  
  
  
}