@use "../Base/variables" as *;
@use "../Base/mixins" as *; 

.game-end {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 90%;

  &__heading {
    font-family: $font-alt;
    color: $color-teal;
  }
}

.game-end__active {
  
}