@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$font-intro: 'Bungee Shade', cursive;
$font-text: 'Bungee', cursive;

$color-teal: #00A19D;
$color-white: #FFF8E5;
$color-orange: #FFB344;
$color-red: #E05D5D;